html
  head
    style(type='text/css').
      @font-face {
        font-family: 'Mulish';
        src: URL('/assets/fonts/Mulish-Regular.ttf') format('truetype');
      }

      html, body {
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        height: 100%;
      }
    title Test Server
  body
    root